<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form action="#" th:action="@{/billCreation}" th:object="${bill}" method="post" >
    <table border="1" >
        <tr style="alignment: center">
            <td><label th:text="yearp" /></td>
            <td><input type="number" min="2000" th:field="*{yearp}" /></td>
        </tr>

        <tr>
            <td><label th:text="monthp" /></td>
            <td><input type="number" max="12" min="1" th:field="*{monthp}" /></td>
        </tr>
        <tr>
            <td><label th:text="'quantity, ' + ${unit}"></label></td>
            <td><input type="number" min="1" th:field="*{quantity}" /></td>

        </tr>
        <tr>
            <td><label th:text="'Enter passport num to find person in format 1234 567890'"></label></td>
            <td><input type="text" pattern="[0-9]{4} [0-9]{6}" id="inputted" th:field="*{passpnum}"/> </td>
        </tr>
        <tr>
            <td><label id="persons" th:text="${fio}" ></label></td>
            <td><input type="submit" value="find" th:formmethod="post" th:object="${bill}" th:formaction="@{/findPersonByPasspnum}"/></td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<p> <a href="/logout" >logout</a> </p>
</body>
</html>